<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Cient_App_for_Warehouse.Properties.Settings.WholesaleConnectionString" connectionString="Data Source=DESKTOP-NKK7ACN;Initial Catalog=Wholesale;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="Cient_App_for_Warehouse.Properties.Settings.WarehouseConnectionString" connectionString="Data Source=DESKTOP-NKK7ACN;Initial Catalog=Warehouse;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>